@page
@model RegisterModel
@{
    //ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="text-align:center">Crie uma nova conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="form-select" aria-label="Default select example">
                <option selected>Escolha o cargo</option>
                <option value="1">TI</option>
                <option value="2">RH</option>
                <option value="3">Contabilidade</option>
            </select>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control mt-2" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control mt-2" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control mt-2" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Cadastro</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
