html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(235, 243, 242);
}

header {
    background-color: rgb(206, 218, 216);
}

.login_logo {
    height: 304px;
    width: 318px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.align-center{
    height: 41em;
    display: flex;
    justify-content:center;
    align-items:center;
}

.login_width{
    width: 100%;
}

.btn-color {
    background-color: #2E5D6C;
}